# Forecasting with Exponential Smoothing

In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
from statsmodels.tsa.holtwinters import SimpleExpSmoothing as ses

In [3]:
gld = pdr.get_data_yahoo('GLD', start='2013-01-01')
gld.drop('Adj Close', axis=1, inplace=True)
gld = gld.resample('W').last()
gld.tail()

                  High         Low        Open       Close    Volume
Date
2018-12-09  118.230003  117.540001  117.620003  118.089996  10402900
2018-12-16  117.300003  116.580002  116.629997  117.059998   7501700
2018-12-23  119.250000  118.570000  119.190002  118.720001  13629800
2018-12-30  121.080002  120.720001  120.800003  121.059998   6864700
2019-01-06  122.099998  121.739998  121.779999  122.003502   5110019

In [4]:
model = ses(gld['Close'])
model_fit = model.fit()
model_fit.predict()

2019-01-13    122.003502
Freq: W-SUN, dtype: float64

In [5]:
y_hat = model_fit.fittedvalues
y_hat.head()

Date
2013-01-06    160.440002
2013-01-13    160.440002
2013-01-20    161.059998
2013-01-27    163.089996
2013-02-03    160.649994
Freq: W-SUN, dtype: float64

In [6]:
gld.head()

                  High         Low        Open       Close    Volume
Date
2013-01-06  160.630005  158.889999  159.520004  160.440002  19179800
2013-01-13  161.899994  160.110001  161.860001  161.059998  13675600
2013-01-20  163.970001  163.020004  163.949997  163.089996  10038100
2013-01-27  161.039993  160.309998  160.559998  160.649994   9037400
2013-02-03  162.770004  160.869995  162.660004  161.449997  12904300

In [7]:
model_fit.params

{'smoothing_level': 1.0,
 'smoothing_slope': nan,
 'smoothing_seasonal': nan,
 'damping_slope': nan,
 'initial_level': 160.44000244140625,
 'initial_slope': nan,
 'initial_seasons': array([], dtype=float64),
 'use_boxcox': False,
 'lamda': None,
 'remove_bias': False}

In [8]:
values = pd.DataFrame({'alpha': np.zeros(10), 'MSE': np.zeros(10)})
alpha = 0.1
for i in range(10):
    model = ses(gld['Close'])
    gld['Forecast'] = model.fit(alpha).fittedvalues
    gld['MSE'] = (gld['Close'] - gld['Forecast']) ** 2
    mse = gld['MSE'].mean()
    values['alpha'][i] = alpha
    values['MSE'][i] = mse
    alpha += 0.1

In [9]:
values

   alpha        MSE
0    0.1  28.769081
1    0.2  16.339311
2    0.3  11.847849
3    0.4   9.623249
4    0.5   8.325965
5    0.6   7.489063
6    0.7   6.914266
7    0.8   6.507154
8    0.9   6.220043
9    1.0   6.029390