# Pandas Part I

In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.random.standard_normal((5,10))
arr

array([[ 0.37982582, -0.35292494, -0.55822739,  1.40268776, -1.36561745,
        -0.98826106,  0.49590831,  0.36410575,  1.00637735,  0.42625254],
       [ 0.2095485 ,  0.34425262,  0.54021359, -1.14561611,  0.15595483,
        -2.20017058, -0.03588873, -1.16932644, -1.35425066, -0.46645458],
       [ 0.21834465,  0.57628964,  0.2259405 , -0.01064416, -0.11353138,
        -0.4589381 , -0.06695456,  0.34023799, -0.72902171,  0.36711728],
       [ 0.57614375, -0.04326061,  1.12786939, -1.38859399,  1.14223527,
        -0.23223703,  2.16251522,  0.31137554, -0.22698214, -1.99147167],
       [ 0.55670335, -0.08148717, -0.22743183,  0.10902198, -0.13013245,
         0.40793512, -0.26063201,  0.51397282, -0.63904739,  1.17489876]])

In [3]:
# creating dataframe from an numpy array
df = pd.DataFrame(arr)

In [6]:
df.tail(3)

,0,1,2,3,4,5,6,7,8,9
2,0.218345,0.576290,0.225941,-0.010644,-0.113531,-0.458938,-0.066955,0.340238,-0.729022,0.367117
3,0.576144,-0.043261,1.127869,-1.388594,1.142235,-0.232237,2.162515,0.311376,-0.226982,-1.991472
4,0.556703,-0.081487,-0.227432,0.109022,-0.130132,0.407935,-0.260632,0.513973,-0.639047,1.174899

In [8]:
cols = "A B C D E F G H I J".split()
cols
df.columns = cols
df

,A,B,C,D,E,F,G,H,I,J
0,0.379826,-0.352925,-0.558227,1.402688,-1.365617,-0.988261,0.495908,0.364106,1.006377,0.426253
1,0.209549,0.344253,0.540214,-1.145616,0.155955,-2.200171,-0.035889,-1.169326,-1.354251,-0.466455
2,0.218345,0.576290,0.225941,-0.010644,-0.113531,-0.458938,-0.066955,0.340238,-0.729022,0.367117
3,0.576144,-0.043261,1.127869,-1.388594,1.142235,-0.232237,2.162515,0.311376,-0.226982,-1.991472
4,0.556703,-0.081487,-0.227432,0.109022,-0.130132,0.407935,-0.260632,0.513973,-0.639047,1.174899

In [9]:
# renaming columns
df.rename(columns={'C': 'Z'}, inplace=True)
df.columns

Index(['A', 'B', 'Z', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
A    5 non-null float64
B    5 non-null float64
Z    5 non-null float64
D    5 non-null float64
E    5 non-null float64
F    5 non-null float64
G    5 non-null float64
H    5 non-null float64
I    5 non-null float64
J    5 non-null float64
dtypes: float64(10)
memory usage: 480.0 bytes

In [12]:
df['A']

0    0.379826
1    0.209549
2    0.218345
3    0.576144
4    0.556703
Name: A, dtype: float64

In [13]:
index = pd.date_range('1/1/2018', periods=5)
index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.set_index(index, inplace=True)

In [15]:
df.head(3)
#df.tail(3)

,A,B,Z,D,E,F,G,H,I,J
2018-01-01,0.379826,-0.352925,-0.558227,1.402688,-1.365617,-0.988261,0.495908,0.364106,1.006377,0.426253
2018-01-02,0.209549,0.344253,0.540214,-1.145616,0.155955,-2.200171,-0.035889,-1.169326,-1.354251,-0.466455
2018-01-03,0.218345,0.576290,0.225941,-0.010644,-0.113531,-0.458938,-0.066955,0.340238,-0.729022,0.367117

In [ ]:
# accessing data in rows

In [19]:
# loc vs iloc
df.loc['2018-01-02']

A    0.209549
B    0.344253
Z    0.540214
D   -1.145616
E    0.155955
F   -2.200171
G   -0.035889
H   -1.169326
I   -1.354251
J   -0.466455
Name: 2018-01-02 00:00:00, dtype: float64

In [21]:
df.iloc[[1,3]]

,A,B,Z,D,E,F,G,H,I,J
2018-01-02,0.209549,0.344253,0.540214,-1.145616,0.155955,-2.200171,-0.035889,-1.169326,-1.354251,-0.466455
2018-01-04,0.576144,-0.043261,1.127869,-1.388594,1.142235,-0.232237,2.162515,0.311376,-0.226982,-1.991472